<div class="container">
  <!-- helps to display success or errors on form submission -->
  <div class="row show-message">
    <div [ngClass]="messageClass">
      {{message}}
    </div>
  </div>

  <form [formGroup]="form" (submit)="onlogin()" id="contact-form" class="container" style="max-width:550px; border:1px solid #ccc">
    <fieldset class="formBox">
      <div class="form-group form-group-fullname">
        <label class="control-label" for="fullname">
          <b>Username</b>
        </label>
        <input type="text" class="form-control" placeholder="Enter Your Username" id="username" name="username" formControlName="username"
          required>
        <label class="control-label" for="message">
          <b>Password</b>
        </label>
        <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" formControlName="password"
          required>
      </div>

      <button type="submit" class="submitbtn btn btn-primary">Login</button>
    </fieldset>
  </form>

</div>