<div class="container col-lg-5">
  <!-- helps to display success or errors on form submission -->
  <div class="row show-message">
    <div [ngClass]="messageClass">
      {{message}}
    </div>
  </div>

  <form [formGroup]="form" (submit)="onlogin()" id="contact-form">
    <fieldset>
      <div class="form-group form-group-fullname">
        <label class="control-label" for="fullname">USER NAME *</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter Your UserName" formControlName="username"
        />
      </div>

      <div class="form-group form-group-message">
        <label class="control-label" for="message">PASSWORD *</label>
        <input type="text" class="form-control" name="password" id="password" formControlName="password" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>

  <p>username : {{form.controls.username.value}}</p>
  <p>password : {{form.controls.password.value}}</p>

</div>