input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* Set a style for all buttons */

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  /* Extra styles for the cancel button */


  /* Float cancel and signup buttons and add an equal width */

.submitbtn {
    float: center;
    width: auto;
  }
  /* Add padding to container elements */

  .container {
    padding: 16px;
  }

  .formBox {
    margin: auto;
    padding: auto;
    max-width: 400px;
  }
  /* Clear floats */

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  /* Change styles for cancel button and signup button on extra small screens */

  @media screen and (max-width: 300px) {
    .submitbtn {
      width: 100%;
    }
  }