<div class="row">
  <div class="jumbotron text-center">
    <h1>WELCOME TO VIRTUAL KLINIK PREDICTION</h1>
    <p></p>
    <p>
      <a class="btn btn-primary btn-lg" href="" role="button">ENTER SYMPTOMS BELOW</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group text-center">
      <textarea class="form-control" id="test_phrase" placeholder="Enter symptoms, feelings, or effects."></textarea>
      <button class="btn btn-success btn-lg" id="test_button" (click)="go();">Predict Disease</button>
      <h2 id="test_result"></h2>
      <p id="test_probability"></p>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
