<div class="row container-kamn">
  <img src="assets/img/slider/forum11.jpg" class="blog-post" alt="Feature-img" align="right" width="100%">
</div>

<div id="banners"></div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="blog-post">
        <h1 class="blog-title">
          <i class="fa fa-file-text"></i>
          First few days without cigarette
        </h1>
        <br>
        <img src="assets/img/slider/forum111.jpg" alt="Feature-img" align="right" width="100%" class="blog-image">
        <br>
        <p>
          'My question is simple: how do you overcome the first 2 weeks of not smoking?
          I have a very strong willpower but the problem is I never get past the first week/week and a half. My hands start shaking and I feel the need of a cigarette.
          Any suggestions?.
        </p>
        <div>
          <span class="badge">Posted 2017-12-26 20:47:04</span>
          <div class="pull-right">
            <span class="label label-default">smoking</span>
            <span class="label label-primary">story</span>
            <span class="label label-success">blog</span>
            <span class="label label-info">personal</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
          </div>
        </div>
      </div>
      <hr>

      <div class="blog-post">
        <h1 class="blog-title">
          <i class="fa fa-file"></i>
          Pain Management!
        </h1>
        <img src="assets/img/slider/pain.jpg" alt="Feature-img" align="right" width="100%" class="blog-image">
        <br>
        <p>
          'Tramadol and paracetamol are types of painkiller that work in different ways. After surgery tramadol can 
          sometimes be a useful painkiller but it is not recommended for long term non-cancer pain. There is no
          evidence that drugs containing both paracetamol and tramadol are more effective or safer than separate
          paracetamol plus codeine, and most prescribing groups in the UK are no longer recommending this
          combination. Combination paracetamol and tramadol can increase the risk of paracetamol overdose if 
          paracetamol is being taken separately, plus tramadol which is a weak opioid, can be addictive and lead to
          withdrawal symptoms if suddenly stopped. If you are still in pain in spite of taking slow release tramadol, it 
          should be stopped gradually with the support of your healthcare professionals, as clearly it is not working, it 
          is addictive and can have many serious side effects. If you have not tried pain management or self-
          management strategies to deal with your pain, it would be worth exploring these options too.
        </p>
        <div>
          <span class="badge">Posted 2017-12-18 10:25:00</span>
          <div class="pull-right">
            <span class="label label-default">pain relief</span>
            <span class="label label-primary">story</span>
            <span class="label label-success">blog</span>
            <span class="label label-info">personal</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
          </div>
        </div>
      </div>
      <hr>

      <div class="blog-post">
        <h1 class="blog-title">
          <i class="fa fa-cloud"></i>
          Cancer
        </h1>
        <img src="assets/img/slider/cancer.jpg" alt="Feature-img" align="right" width="100%" class="blog-image">
        <p>
          'I had a tumor removed from my left kidney in February 2017. Nice long scar on my side, which makes for interesting 
          conversation when I am at the beach. Anyway, I have woken up in severe pain, to the point of being in tears, because 
          of pain radiating in my thigh, hip, abdomen, and left side. My doctor is not sure what is causing it. My renal scan 
          looked good. I have had a CT scan that he said looked fine. I'm just wondering if anyone experienced the same thing and what it could be.
        </p>
        <div>
          <span class="badge">Posted 2017-12-06 11:18:55</span>
          <div class="pull-right">
            <span class="label label-default">cancer</span>
            <span class="label label-primary">story</span>
            <span class="label label-success">blog</span>
            <span class="label label-info">personal</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
          </div>
        </div>
      </div>
      <hr>

      <ul class="pagination">
        <li class="disabled">
          <a href="#">&laquo;</a>
        </li>
        <li class="active">
          <a href="#">1
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a href="#">2
            <span class="sr-only"></span>
          </a>
        </li>
        <li>
          <a href="#">3
            <span class="sr-only"></span>
          </a>
        </li>
        <li>
          <a href="#">4
            <span class="sr-only"></span>
          </a>
        </li>
        <li>
          <a href="#">5
            <span class="sr-only"></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <strong>Search </strong>
          </h3>
        </div>
        <div class="panel-body">
          
        </div>
      </div>

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        
      </div>
    </div>
  </div>
</div>

<!--End Main Container -->


<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>
          <i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          MIE FH-Kiel, Germany
          <br> Phone: 017646057450
          <br> www: virtualklinik.com
          <br>
        </p>
      </div>
      <div class="col-md-4">
        <h3>
          <i class="fa fa-external-link"></i> Links</h3>
        <p>
          <a href="#"> About ( Who we are )</a>
        </p>
        <p>
          <a href="#"> Services ( What we do )</a>
        </p>
        <p>
          <a href="#"> Contact ( Feel free to contact )</a>
        </p>
        <p>
          <a href="#"> Blog ( Write to us )</a>
        </p>
        <p>
          <a href="#"> Chat ( Meet the Team )</a>
        </p>
      </div>
      <div class="col-md-4">
        <h3>
          <i class="fa fa-heart"></i> Socialize</h3>
        <div id="social-icons">
          <a href="#" class="btn-group google-plus">
            <i class="fa fa-google-plus"></i>
          </a>
          <a href="#" class="btn-group linkedin">
            <i class="fa fa-linkedin-square"></i>
          </a>
          <a href="#" class="btn-group twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="btn-group facebook">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

