<!-- Navigation Bar  -->

<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand wow fadeInDownBig" href="index.html">
        <img class="office-logo" src="assets/img/slider/Office.png" alt="Office">
      </a>
    </div>

    <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="active">
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/forum">Forum</a>
        </li>
        <li *ngIf="regauthservice.loggedIn()">
          <a routerLink="/chatbot">
            <span>Chat bot</span>
          </a>
        </li>
        <li *ngIf="!regauthservice.loggedIn()">
          <a routerLink="/signup">
            <span>Signup</span>
          </a>
        </li>
        <li *ngIf="!regauthservice.loggedIn()">
          <a routerLink="/login">
            <span>Login</span>
          </a>
        </li>
        <li *ngIf="regauthservice.loggedIn()">
          <a routerLink="/chat">
            <span>Chat</span>
          </a>
        </li>
        <li *ngIf="regauthservice.loggedIn()">
          <a routerLink="predict">
            <span>Predict</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="copyright text center" *ngIf="regauthservice.loggedIn()">
        <p>
          <strong><a routerLink="/profile">View Profile</a></strong>
          <strong>|</strong>
          <strong><a href="#" (click)= "onLogoutClick()">Logout</a></strong>
        </p>
  </div>
<!-- End of navigation bar -->