 /* Full-width input fields */

 input[type=text],
 input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
 }
 /* Set a style for all buttons */

 button {
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
 }
 /* Extra styles for the cancel button */

 .cancelbtn {

   background-color: #f44336;
 }
 /* Float cancel and signup buttons and add an equal width */

 .cancelbtn,
 .signupbtn {
   float: center;
   width: 100%;
 }
 /* Add padding to container elements */

 .container {
   padding: 16px;
 }

 .formBox {
   margin: auto;
   padding: auto;
   max-width: 500px;
 }
 /* Clear floats */

 .clearfix::after {
   content: "";
   clear: both;
   display: table;
 }
 /* Change styles for cancel button and signup button on extra small screens */

 @media screen and (max-width: 300px) {
   .cancelbtn,
   .signupbtn {
     width: 100%;
   }
 }